.card {
  background-color: #ffffff;
  border-radius: 0.25rem;
  padding: 1.25rem;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.125), 0 0.0625rem rgba(0, 0, 0, 0.125);
}

.app-container {
  padding: 2.5rem 5vw;
}

input {
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #cccccc;
  padding: 0.5rem;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}
.flex-row-wrap {
  flex-flow: row wrap;
}
.flex-column-wrap {
  flex-flow: column wrap;
}
.align-content-between {
  align-content: space-between;
}
.justify-content-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.d-flex .card {
  flex: 0 1 43%;
  max-width: 43%;
}

.movies-and-nominations-container {
  padding: 2rem 0;
}
.movie-poster {
  height: auto;
  max-width: 100%;
}
.mt-0 {
  margin-top: 0;
}

.movies-results-container, .nominations-container {
  margin-bottom: 1.25rem;
}

.single-movie-container {
  padding-bottom: 0.75rem;
}
.movie-poster-container {
  flex: 0 1 40%;
}
.single-movie-metadata {
  flex: 0 1 70%;
}
button {
  padding: 0.875rem 2rem;
}
.loading-skeleton {
  height: 1.5rem;
  width: 90%;
  background-color: #d9d9d9;
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
}

.animation-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
} 

@media (max-width: 767px) {
  .d-flex .card {
    flex: 0 1 100%;
    max-width: 100%;
  }
}